<body>
  <iframe
    width="400"
    height="230"
    src="https://www.youtube.com/embed/RUg2hiRTRVM"
    title="Embed videos and playlists"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>

  <iframe
    width="400"
    height="230"
    src="https://www.youtube.com/embed/r7WEc5foYU8"
    title="Embed videos and playlists"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>

  <iframe
    width="400"
    height="230"
    src="https://www.youtube.com/embed/myZ1VWSJMZw"
    title="Embed videos and playlists"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</body>
